@import url('https://fonts.googleapis.com/css?family=Merriweather');

// overwrite default variables

$font-family-base: 'Merriweather', font-family-sans-serif;
$breadcrumb-divider: quote('>');
$display4-size: 3rem;
$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.5rem;
$enable-gradients: true;
$theme-colors: (
  "primary": #39586F,
  "secondary": rgb(211, 218, 223),
  "orange": #ffc185,
  "orange-dark": #bc5b00,
  "correct": #70e835,
  "wrong": #ee0000,
  "level1": #D754BF,
  "level2": #6DA65A,
  "level3": #DD3346,
  "level4": #FFC956,
  "level5": #1A69DF,
  "level6": #36B5FF,
  "level7": #FEFD5E,
  "level8": #9880DD
);

@import '~bootstrap/scss/bootstrap.scss';

// manual class overrides

.list-group {
  flex-flow: row wrap;
}

.list-group-flush {
  flex-direction: column;
}

.list-group-item-action .active {
  color: theme-color('orange-dark');
  border: 1px solid theme-color('orange-dark');
  padding: 0.25rem;
}

.container {
  padding-bottom: 15px;
}

legend {
  font-size: 1.25rem;
}

input[type=radio] {
  opacity: 0;
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 100%;
}

input[type=radio]:focus + label {
  outline: rgba(77, 97, 171, 0.5) auto 3px;
}

input[type=radio]:checked + label {
  background-color: theme-color('orange');
  color: black;
}

@include media-breakpoint-up(sm) {
  header {
    height: 5rem;
  }

  img {
    max-height: 100%;
  }

  .score {
     padding: 1rem;
  }

  .tfAswerBox {
    display: flex;
    flex-direction: row;
  }
}

@include media-breakpoint-up(md) {
  .mcAnswerBox {
    display: flex;
    flex-direction: row;
  }
}

.wordBlank {
  display: inline-block;
  min-width: 5rem;
  min-height: 1rem;
  border-bottom: 1px solid black;
  text-transform: uppercase;
}

.wordCard {
  flex-grow: 2;
  margin: 1rem;
}

.correctAnswer {
  box-shadow: 0px 0px 4px 4px theme-color('correct');
}

.wrongAnswer {
  box-shadow: 0px 0px 4px 4px theme-color('wrong');
}

.score {
  padding-bottom: 1rem;
}

.correctScore {
  color: #2b8800;
}

.wrongScore {
  color: theme-color('wrong');
}

.instructions {
  color: theme-color('primary');
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: theme-color('orange-dark');
}

.questionBox {
  padding-bottom: 1rem;   
}

.phonetic:hover {
  color: theme-color('orange');
  cursor: pointer;
}